extends layout 

block content 

    h1 Author: #{author.name}
    p (#{author.lifespan})

    div.detailedList
      h4 Sus libros 

      dl
        each b in books
          dt #[a(href=b.url) #{b.title}]
          dd #{b.summary}
        else 
          p Aún no hay libros de este autor
    
    hr
    p 
      a.btn-flat.red-text(href=author.url+'/delete') Eliminar autor
