extends layout 

block content 

  h1 #{title}

  h3 #{genre.name}

  hr

  if (books.length < 1)
    form(action="", method="POST")
      input(type="text", name="toDelete", value=genre._id, hidden) 
      button.btn.waves-effect.waves-light.red(type="submit") Eliminar
        i.material-icons.right delete_forever

  else 
    p Los siguientes libros pertenecen a este género, deberá borrarlos manualmente primero
    br
    ul 
      each b in books
        
        li #[a(href=b.url) #{b.title}]. #{b.author.name}
  